In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\archa\anaconda3\lib\site-packages (3.6.5)Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: click in c:\users\archa\anaconda3\lib\site-packages (from nltk) (8.0.0)
Requirement already satisfied: joblib in c:\users\archa\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\archa\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\archa\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\archa\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [53]:
import pandas as pd
df = pd.read_csv('SMSSpamCollection', sep='\t', names = ['label', 'message'])
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
for mess in df['message'].head(5):
    print('\n',mess)

 Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...

 Ok lar... Joking wif u oni...

 Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's

 U dun say so early hor... U c already then say...

 Nah I don't think he goes to usf, he lives around here though

In [20]:
df['message'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [54]:
contractions = { 
"ain't": "am not","aren't": "are not","can't": "cannot","can't've": "cannot have","'cause": "because","could've": "could have",
"couldn't": "could not","couldn't've": "could not have","didn't": "did not","doesn't": "does not","don't": "do not","hadn't": 
"had not","hadn't've": "had not have","hasn't": "has not","haven't": "have not","he'd": "he would","he'd've": "he would have",
"he'll": "he will","he's": "he is","how'd": "how did","how'll": "how will","how's": "how is","i'd": "i would","i'll": "i will",
"i'm": "i am","i've": "i have","isn't": "is not","it'd": "it would","it'll": "it will","it's": "it is","let's": "let us",
"ma'am": "madam","mayn't": "may not","might've": "might have","mightn't": "might not", "must've": "must have","mustn't": 
"must not","needn't": "need not","oughtn't": "ought not","shan't": "shall not","sha'n't": "shall not","she'd": "she would",
"she'll": "she will","she's": "she is","should've": "should have","shouldn't": "should not","that'd": "that would","that's": 
"that is","there'd": "there had","there's": "there is","they'd": "they would","they'll": "they will","they're": "they are",
"they've": "they have","wasn't": "was not","we'd": "we would","we'll": "we will","we're": "we are","we've": "we have","weren't":
"were not","what'll": "what will","what're": "what are","what's": "what is","what've": "what have","where'd": "where did",
"where's": "where is","who'll": "who will","who's": "who is","won't": "will not","wouldn't": "would not","you'd": "you would",
"you'll": "you will","you're": "you are"
}
def contract(text):
    new_text = ""
    i = 0
    for word in text.split():
        if i==0:
            new_text = contractions.get(word,word)
        else:
            new_text = new_text + " " + contractions.get(word,word)
        i += 1
    return new_text.replace("'s", '')

df['message'] = df['message'].apply(lambda x: contract(x))

In [55]:
df['message'][4]

'Nah I do not think he goes to usf, he lives around here though'

In [56]:
df['message'] = df['message'].str.lower()
df.head()

  label                                            message
0   ham  go until jurong point, crazy.. available only ...
1   ham                      ok lar... joking wif u oni...
2  spam  free entry in 2 a wkly comp to win fa cup fina...
3   ham  u dun say so early hor... u c already then say...
4   ham  nah i do not think he goes to usf, he lives ar...

In [57]:
def rem_punct(mess):
    nopunc = ''.join([c for c in mess if c not in string.punctuation])
    return nopunc
    
df['message'] = df['message'].apply(rem_punct)

In [58]:
df['message'][2]

'free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetc apply 08452810075over18'

In [60]:
def rem_digit(mess):
    nodigit = ''.join([c for c in mess if not c.isdigit()])
    return nodigit
    
df['message'] = df['message'].apply(rem_digit)

In [61]:
df['message'][2]

'free entry in  a wkly comp to win fa cup final tkts st may  text fa to  to receive entry questionstd txt ratetc apply over'

In [64]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\archa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [68]:
def remove_stop(mess):
    word_tokens = word_tokenize(mess)
    nostop = [word for word in word_tokens if not word in stopwords.words('english')]
    return nostop

df['message'] = df['message'].apply(remove_stop)

In [69]:
df.head()

  label                                            message
0   ham  [go, jurong, point, crazy, available, bugis, n...
1   ham                     [ok, lar, joking, wif, u, oni]
2  spam  [free, entry, wkly, comp, win, fa, cup, final,...
3   ham      [u, dun, say, early, hor, u, c, already, say]
4   ham     [nah, think, goes, usf, lives, around, though]

In [73]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
def stem_words(text):
    return [stemmer.stem(word) for word in text]
df['message1'] = df['message'].apply(lambda x: stem_words(x))

In [74]:
df.head()

,label,message,message1
0,ham,"[go, jurong, point, crazy, available, bugis, n...","[go, jurong, point, crazi, avail, bugi, n, gre..."
1,ham,"[ok, lar, joking, wif, u, oni]","[ok, lar, joke, wif, u, oni]"
2,spam,"[free, entry, wkly, comp, win, fa, cup, final,...","[free, entri, wkli, comp, win, fa, cup, final,..."
3,ham,"[u, dun, say, early, hor, u, c, already, say]","[u, dun, say, earli, hor, u, c, alreadi, say]"
4,ham,"[nah, think, goes, usf, lives, around, though]","[nah, think, goe, usf, live, around, though]"

In [75]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return [lemmatizer.lemmatize(word) for word in text]
df['message2'] = df['message'].apply(lambda text: lemmatize_words(text))

In [76]:
df.head()

,label,message,message1,message2
0,ham,"[go, jurong, point, crazy, available, bugis, n...","[go, jurong, point, crazi, avail, bugi, n, gre...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,"[ok, lar, joking, wif, u, oni]","[ok, lar, joke, wif, u, oni]","[ok, lar, joking, wif, u, oni]"
2,spam,"[free, entry, wkly, comp, win, fa, cup, final,...","[free, entri, wkli, comp, win, fa, cup, final,...","[free, entry, wkly, comp, win, fa, cup, final,..."
3,ham,"[u, dun, say, early, hor, u, c, already, say]","[u, dun, say, earli, hor, u, c, alreadi, say]","[u, dun, say, early, hor, u, c, already, say]"
4,ham,"[nah, think, goes, usf, lives, around, though]","[nah, think, goe, usf, live, around, though]","[nah, think, go, usf, life, around, though]"